<a href='/runs'> All Runs </a> &nbsp;
<a href='/resorts'> All Resorts </a> &nbsp;
<a href="/resorts/<%=@resort.id%>/runs"> All Runs at <%= @resort.name %></a>
<br>
<h1><%= @resort.name %></h1>
<p>Location: <%= @resort.location %></p>
<p>Open? <%= @resort.is_open %></p>
<p>Base Elevation: <%= @resort.base_elevation %></p>
<p>Summit Elevation: <%= @resort.summit_elevation %></p>
<p> Number of runs at <%= @resort.name %> = <%= @resort.runs.count %> </p>
<a href="/resorts/<%=@resort.id%>/edit"> Update Resort </a>
<p> <%= link_to "Delete Resort", "/resorts/#{@resort.id}", method: :delete %> </p>
