<h1><%= @resort.name %></h1>
<p>Location: <%= @resort.location %></p>
<p>Open? <%= @resort.is_open %></p>
<p>Base Elevation: <%= @resort.base_elevation %></p>
<p>Summit Elevation: <%= @resort.summit_elevation %></p>
